{% extends "layout.html" %}
{% block content %}
<h1 class="introduction">About</h1>
<hr style="height:2px;border-width:0;color:black;background-color:black">
<div class="boxed">
	<p class="bullet">My name is Adam Nobunaga and I am currently a second year undergraduate student 
		at UC Santa Barbara studying computer science. This personal website highlights different projects
		I've worked on. Besides working on projects, I enjoy playing basketball, baseball, video games, reading manga,
		watching various shows, and traveling to Hawaii. If you have any questions, head over to the <a class="p" href="/contact">Contact page</a> to reach
		out to me!
	</p>
</div>
<script>
	
</script>




{% endblock content %} 