{% extends "layout.html" %}
{% block content %}
<h1 class="introduction">About</h1>
<hr style="height:2px;border-width:0;color:black;background-color:black">
<div class="boxed">
	<p class="bullet">My name is Adam Nobunaga and I am currently a second year undergraduate student 
		at UC Santa Barbara studying computer engineering. Besides from creating websites
		and working on other projects, I enjoy playing basketball, baseball, video games, reading manga,
		watching various shows, and going on vacation to Hawaii(you probably could tell from the background image). 
		This portfolio is meant to highlight various projects I have completed in the past and briefly
		explain what languages and libraries used. If you have any questions, head over to the <a href="/contact">Contact page</a> to reach
		out to me!
	</p>
</div>
<script>
	
</script>




{% endblock content %} 