<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contact.css')}}">
	<title>Portfolio</title>
</head>
<body>
	<div class="topnav">
		<a class="active" href="/home">Home</a>
		<a class="active" href="/about">About</a>
		<a class="active" href="/experience">Experience</a>
		<a class="active" href="/videos">Videos</a>
		<a class="active" href="/contact">Contact</a>
	</div>
	<header>
		
		
	</header>
	<div class="title">
		<h1>Contact Information</h1>
		<hr style="height:2px;border-width:0;color:black;background-color:black">
		
	</div>
	<div class="boxed">
		<p class="title">Phone: 650-203-3660</p>
		<p class="title">Email: adamnobunaga@gmail.com</p>
	</div>
	<div class="github">
		<a href="https://github.com/akainu11" target="_blank_">
			<img src='https://drive.google.com/uc?export=view&id=1cvdlxUH1Qat4YL49SYb1Ycn4JSg6WyPH'>
		</a>
		
		
	</div>
	<div class="github">
		<a href="https://www.linkedin.com/in/adam-nobunaga-0166201bb/" target="_blank_">
			<img src='https://drive.google.com/uc?export=view&id=1Uw_3-kpifPqwVp52Vugl9I_KbF-vLStj'>
		</a>
		
		
	</div>
</body>
</html>