{% extends "layout.html" %}
{% block content %}
<div class="introduction">
	<h1>Contact Information</h1>
	<hr style="height:2px;border-width:0;color:black;background-color:black">
</div>
	<p class="introduction">adamnobunaga@gmail.com</p>
	<p class="introduction">650-203-3660</p>
<div class="m">
	<a class="fa" href="https://github.com/akainu11" target="_blank_">
		<img src='../static/github.png'>
	</a>
	<a class="fa" href="https://www.linkedin.com/in/adam-nobunaga-0166201bb/" target="_blank_">
		<img src='../static/link.png'>
	</a>
	<a class="fa" href="https://www.facebook.com/profile.php?id=100013027330333" target="_blank_">
		<img src='../static/f.png'>
	</a>
	<a class="fa" href="https://www.instagram.com/a.nobunaga/" target="_blank_">
		<img src='../static/i.png'>
	</a>
</div>


{% endblock content %} 