{% extends "layout.html" %}
{% block content %}
<div class="introduction">
	<h1>Contact Information</h1>
	<hr style="height:2px;border-width:0;color:black;background-color:black">
	
</div>
<div class="boxed">
	<p class="title">Phone: 650-203-3660</p>
	<p class="title">Email: adamnobunaga@gmail.com</p>
</div>

<div class="github">
	<a href="https://github.com/akainu11" target="_blank_">
		<img src='../static/github.png'>
	</a>
	
	

	<a href="https://www.linkedin.com/in/adam-nobunaga-0166201bb/" target="_blank_">
		<img src='../static/link.png'>
	</a>
	

	
</div>
{% endblock content %} 