
{% extends "layout.html" %}
{% block content %}
	
	<h1 class="introduction">
		Technical Experience
	</h1>
	<hr style="height:2px;border-width:0;color:black;background-color:black">
	<div class="boxed">
    <h2 class="bullet">Personal Website</h2>
    <ul>
      <li class="bullet">
        Designed a personal website using the Flask framework alongside HTML, CSS, and Javascript
      </li>  
      <li class="bullet">
        Learned the importance of formatting HTML files within a template folder for organization and using a layout/base HTML file to avoid
        repeating code
      </li>
      <li class="bullet">
        I learned about the basics of Flask, HTML, CSS through my personal website that can be utilized in larger scale frontend applications
      </li>
    </ul>
    <h2 class="bullet">Line-Following Car</h2>
    <ul>
      <li class="bullet">
        Created a line following car using Arduino and C for an engineering group project
      </li>  
      <li class="bullet">
        By working in a group, I learned how to share ideas and also listen to people's opinions when faced with an issue
        related to the code or hardware
      </li>
      <li class="bullet">
        The skills I learned from my group project can be applied towards future internships/jobs where collaboration skills
        are very valuable
      </li>
    </ul>
    <h2 class="bullet">Pokedex</h2>
    <ul>
      <li class="bullet">
        Built a Pokedex using React that pulls data from PokeAPI
      </li>  
      <li class="bullet">
        The project taught me the basics of React such as props, components, and hooks
      </li>
      <li class="bullet">
        Gained experience working with an API and I learned how to filter through the data pulled to obtain the statistics I wanted to display to the user
      </li>
    </ul>
    <h2 class="bullet">Blog</h2>
    <ul>
      <li class="bullet">
        Created an online blog site using Django that allows users to create an account, sign in, and then make/edit/delete posts
      </li>  
      <li class="bullet">
        I learned how to use Django to create different apps, manage site routing, and store user data with the built in database(SQLite)
      </li>
      <li class="bullet">
        The blog project helped me realize the importance of organization when creating larger applications and why different apps are 
        needed for people to understand what each component contributes to the larger project
      </li>
    </ul>
  </div>
    
		
	
	
{% endblock content %} 
</html>