
{% extends "layout.html" %}
{% block content %}
	
	<h2 class="introduction">
		Technical Experience
	</h2>
	<hr style="height:2px;border-width:0;color:black;background-color:black">
	<div class="boxed">
		<p>
			<ul>
				<li class="bullet">
					Worked on a group self driving car project with IEEE using OpenCV and Matplotlib
				</li>
				<li class="bullet">
					Designed this webpage and a blog application using the Flask framework alongside HTML, CSS, and Javascript
				</li>
				<li class="bullet">
					Created a line following car using Arduino and C in a group engineering project
				</li>
				<li class="bullet">
					Built a simple pokedex using React and PokeAPI 
				</li>
			</ul>
		</p>
	</div>
	
{% endblock content %} 
</html>