{% extends "layout.html" %}
{% block content %}
<div >
	<h1 onclick="change()" class="c name">Adam Nobunaga</h1>
</div>

<div class="bottom">
	<h2 class="box">
		Sophomore at UC Santa Barbara studying Computer Engineering with a passion for web development, AI/Machine Learning,
		and Data Science
	</h2>
</div>
	<script>
		var track = 'one';
	function change(){
		if (track == 'one'){
			document.body.style.backgroundImage = "url('../static/name.webp')";
			track = 'two';
		}else if(track == 'two'){
			document.body.style.backgroundImage = "url('../static/garden.jpeg')";
			track = 'three';
		}else{
			document.body.style.backgroundImage = "url('../static/hawaii.jpeg')";
			track = 'one';
		}
	}
	</script>
	
{% endblock content %} 