{% extends "layout.html" %}
{% block content %}
	<h2 class="introduction">
		Undergraduate Engineering student at UC Santa Barbara with an interest in web development and machine learning
	</h2>
	<hr style="height:2px;border-width:0;color:black;background-color:black">
	<h2 class="introduction">
		Technical Experience
	</h2>
	<p>
		<ul>
			<li class="bullet">
				Worked on a group self driving car project with IEEE using OpenCV and Matplotlib
			</li>
			<li class="bullet">
				Designed this webpage and a blog application using the Flask framework alongside HTML, CSS, and Javascript
			</li>
			<li class="bullet">
				Created a line following car using Arduino and C in a group engineering project
			</li>
		</ul>
	</p>
	<div class="garden">
        <a href="https://www.youtube.com/watch?v=V1bFr2SWP1I" target="_blank_">
            <img src='https://drive.google.com/uc?export=view&id=1uu9gU3S0-jo3zu_bqOj6TCJWoxhDxkRy'>
        </a>
      </div>
{% endblock content %} 
</html>