{% extends "layout.html" %}
{% block content %}
<h1 onclick="change()" class="name">Adam Nobunaga</h1>
	<h2 class="box">
		Sophomore at UC Santa Barbara studying Computer Engineering with a passion for web development, AI/Machine Learning,
		and Data Science
	</h2>
	<script>
		var track = 'one';
	function change(){
		if (track == 'one'){
			document.body.style.backgroundImage = "url('https://drive.google.com/uc?export=view&id=1iX7TaC06lYZTUJRxAOpHE0MNCEb2CRSI')";
			track = 'two';
		}else if(track == 'two'){
			document.body.style.backgroundImage = "url('https://drive.google.com/uc?export=view&id=1uu9gU3S0-jo3zu_bqOj6TCJWoxhDxkRy')";
			track = 'three';
		}else{
			document.body.style.backgroundImage = "url('https://drive.google.com/uc?export=view&id=1V-WwfeV6AAGhlCC1oXRyFAX3PCR6SQmh')";
			track = 'one';
		}
		
		
		
	}
	</script>
{% endblock content %} 