{% extends "layout.html" %}
{% block content %}

<h1 class="introduction">Videos of Projects</h1>
<hr style="height:2px;border-width:0;color:black;background-color:black">
<h2 class="introduction t">Self Driving Car</h2>
<video class="center" width="320" height="240" controls>
	<source src="https://drive.google.com/uc?export=view&id=1GlCiMObrj-j21QAIaD8QAGWPf7xqWLaN" type="video/mp4">
</video>
<h2 class="introduction t"><a class="introduction" href="https://desolate-fortress-75997.herokuapp.com/" target="_blank">Pokedex</a></h2>
<video class="center" width="320" height="240" controls>
	<source src="https://drive.google.com/uc?export=view&id=1g81NSFtyVIiaGFNf0qaUHWpAy-rZGEVG" type="video/mp4">
</video>
{% endblock content %} 